RewriteEngine on
Options -Indexes

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteRule ^admin/(.*)$ admin/$1 [L]

#RewriteRule ^upload/sanpham/(.*\.(jp?g|gif|png))$ watermark.php?image=$1 [L]
RewriteRule ^thumb/([0-9]+)x([0-9]+)/([0-9]+)/(.*)$ timthumb_watermark.php?w=$1&h=$2&zc=$3&q=100&src=http://%{HTTP_HOST}/$4  [L]

DirectoryIndex logo.png index.php

ErrorDocument 404 /404.php

RewriteRule ^admin$ admin/index.php [L]
RewriteRule ^admin/$ admin/index.php [L]

RewriteRule ^&p=([0-9]+)$ index.php?&p=$1  [L]

RewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+).html$ index.php?com=san-pham&id=$2  [L]
RewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+).html&p=([0-9]+)$ index.php?com=san-pham&id=$2&p=$3  [L]

RewriteRule ^([a-zA-Z0-9_-]+).html$ index.php?com=$1  [L]
RewriteRule ^([a-zA-Z0-9_-]+).html&p=([0-9]+)$ index.php?com=$1&p=$2  [L]



RewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+)$ index.php?com=san-pham&id_danhmuc=$2  [L]
RewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+)&p=([0-9]+)$ index.php?com=san-pham&id_danhmuc=$2&p=$3  [L]

RewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+/)$ index.php?com=san-pham&id_list=$2  [L]
RewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+)/&p=([0-9]+)$ index.php?com=san-pham&id_list=$2&p=$3  [L]



RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([0-9]+).html$ index.php?com=$1&id=$3  [L]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([0-9]+).html&p=([0-9]+)$ index.php?com=$1&id=$2&p=$4  [L]

RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([0-9]+)$ index.php?com=$1&id_danhmuc=$3  [L]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([0-9]+)&p=([0-9]+)$ index.php?com=$1&id_danhmuc=$3&p=$4  [L]

RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([0-9]+/)$ index.php?com=$1&id_list=$3  [L]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([0-9]+)/&p=([0-9]+)$ index.php?com=$1&id_list=$3&p=$4  [L]

RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([0-9]+)$ index.php?com=$1&id_cat=$3  [L]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([0-9]+)&p=([0-9]+)$ index.php?com=$1&id_cat=$3&p=$4  [L]

RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([0-9]+)$ index.php?com=$1&id_item=$3  [L]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([0-9]+)&p=([0-9]+)$ index.php?com=$1&id_item=$3&p=$4  [L]

RewriteRule ^([a-zA-Z0-9_-]+).html&id_danhmuc=(.*)&id_list=(.*)&id_cat=(.*)&gia=(.*)&dientich=(.*)$ index.php?com=$1&id_danhmuc=$2&id_list=$3&id_cat=$4&gia=$5&dientich=$6  [L]
RewriteRule ^([a-zA-Z0-9_-]+).html&id_danhmuc=(.*)&id_list=(.*)&id_cat=(.*)&gia=(.*)&dientich=(.*)&p=([0-9]+)$ index.php?com=$1&id_danhmuc=$2&id_list=$3&id_cat=$4&gia=$5&dientich=$6&p=$7  [L]