::-webkit-scrollbar {background:#fff;width:10px;height:11px;}
::-webkit-scrollbar-thumb {background:#BBBBBB;}
*{margin: 0; padding: 0; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; outline:none;}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {min-width: 100% !important;}
.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;}
.video_popup {position: relative;padding-bottom: 56.25%;padding-top: 30px;height: 0;overflow: hidden;}
.video_popup iframe, .video_popup object, .video_popup embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
#clickvideo{ width:100%; padding:4px 0; margin:3px 0%; border:1px solid #DDD; box-sizing:border-box;}
.addthis_native_toolbox{margin: 10px 0px;width: 100%;clear: both;border: 1px solid #ededed;padding: 10px 10px;margin-bottom: 10px;background: #f7f6f6;box-sizing: border-box;}
.addthis_native_toolbox b{float: left;font-size: 14px;text-transform: uppercase;margin-right: 10px}
#toptop {width: 37px; height: 37px;position: fixed;bottom: 30px; right: 20px;text-indent: -99999px;cursor: pointer;background: url(images/back_to_top.png) top center no-repeat;transition:0.5s;z-index:200;}
#toptop:hover{background: url(images/back_to_top.png) bottom center no-repeat;transition:0.5s;}
.clear{clear:both;}
img{max-width:100% !important; height:auto; }
div.bando img{max-width:none !important;}

body{
	font-family:myFont, Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:1.5;
}
@font-face {
    font-family: 'myFont';
    src: url('font/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('font/Roboto-Bold.ttf');
}
div#wapper
{ 
  margin:auto;
  max-width:1350px;
  background:#fff;
}
.wap_content
{
    max-width: 1200px;
    margin: auto;
}
div#header
{
	position:relative;
	margin:auto;
    background: #fff;
}

div.header
{
	display:none;
}

div.search
{
	position: absolute;
    right: 0px;
    top: 5px;
    background: #d3c649;
    height: 40px;
}
div.search input
{
	padding: 0px 10px;
    float: left;
    margin-top: 13px;
    border: none;
    background: none;
    width: 230px;
    outline: none;
    color: #000;
    font-style: italic;
}
div.search i
{
	float: right;
    margin-right: 9px;
    margin-top: 8px;
    color: #222;
    font-size: 22px;
    cursor: pointer;
}

div#left
{
	width:100%;    
}
div#left .left-conten {
    text-align: center;
}
div.tieude
{
	color:#fff;
	padding-left:20px;
	font-size:15px;
	background:none;
	height:45px;
    background: #325968;
	line-height:45px;
	text-transform:uppercase;
}
.danhmuc-bds
{
    list-style: none;
    display: inline-block;
    margin-left: 0px;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 5px;
}
.danhmuc-bds li
{
    padding: 10px 35px;
    border-bottom: 2px solid #ccc;
    position: relative;
    float: left;
}
.danhmuc-bds li img
{
    margin-bottom: -5px;
}
.danhmuc-bds li:last-child
{
    border-bottom:none;
}
.danhmuc-bds li:hover, .danhmuc-bds li.actived
{
    background: #325968;
    color: #fff;    
    font-weight: 600;
    border-radius: 5px ;
}
.show-bds
{
    display: block;
}
.hide-bds
{
    display: none;
}
/*.danhmuc-bds li:hover:after, .danhmuc-bds li.actived:after
{
  content: "";
  position: absolute;
  top: 30px;
  right:-15px ;
  width:0px;
  height:0px;
  border-bottom:10px solid transparent;
  border-top:10px solid transparent;
  border-left:15px solid #e03637; 

}*/
.danhmuc-bds li:hover img, .danhmuc-bds li.actived img
{
    filter: brightness(400%);
}
div#danhmuc
{
	border:none;
}
div.danhmuc
{
	border:1px solid #d6d6d6;
	margin-bottom:15px;
}
div.danhmuc:last-child
{
	margin-bottom:0;
}
div#danhmuc ul
{
	list-style:none;
}
div#danhmuc ul li
{	
}
div#danhmuc ul li:last-child
{
	border:none;
}
div#danhmuc ul li a
{
	color: #454545;
    text-decoration: none;
    font-size: 14px;
    transition: 0.4s;
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 11px 5px 11px 23px;
    background: url(images/muiten.png) 11px 15px no-repeat;
}
div#danhmuc ul li a:hover,div#danhmuc ul li a.active
{
	color:red;
	transition:0.4s;
}
div#danhmuc ul li ul li a
{
	 background: url(images/muiten.png) 22px 15px no-repeat;
	padding:9px 5px 9px 35px;
}
div#danhmuc ul li ul
{
	display:none;
}
#catalogue ul
{
    list-style: none;
    width: 100%;
    padding: 10px 5px;
}
#catalogue ul li
{
    padding: 10px 0px;
    border-bottom:1px solid #000;
}
#catalogue ul li i
{
    margin-right: 5px;
}
#catalogue ul a
{
    text-decoration: none;
    color: #000;
}
#catalogue ul a:hover
{
    color: red;
    padding-left: 10px;
    transition: 0.5s;
}
div#tinmoi
{	
}
div#tinmoi ul
{
	list-style:none;
	padding:0 10px;
}
div#tinmoi ul li
{
	border-bottom:1px dashed #DDDDDD;
	padding:10px 0;
    height: auto!important;
}
div#tinmoi ul li a img
{
	width:35%;
	max-width:150px !important;
	border:1px solid #d6d6d6;
	float:left;
	margin-right:10px;
}
div#tinmoi ul li .ngaytao i
{
	color:#325968; 
	margin-right:5px;
}
div#tinmoi ul li a img:hover
{
	transition:1s;
	border:1px solid red;
}
div#tinmoi ul li h4 a
{
	text-decoration:none;
	color:#111111;
	font-size:12px;
	transition:0.4s;
	font-weight:normal;
}
div#tinmoi ul li h4 a:hover
{
	color:red;
	transition:0.4s;
}
div.load_video
{
	width:95%;
	margin:7px auto;
}
div#hotro
{

}
div#hotro .phone
{
	color: #f10b0b;
    font-size: 24px;
    font-weight: bold;
    padding-top: 62px;
    padding-left: 90px;
    padding-bottom: 10px;
    margin-right: 20px;
    font-style: italic;
}
div#hotro ul
{
	list-style: none;
    border-bottom: 1px dashed #DDDDDD;
    padding: 7px;
    margin: 0px 10px;
    font-size: 13px;
}
div#hotro ul li
{
	clear: both;
    padding: 6px 0;
    color: #555555;
}
div#hotro ul li i
{
	font-size:17px;
	margin-right:8px;
	clear:both;
}
div#hotro ul li span
{
	color: #3853a4;
    font-weight: normal;
    font-size: 14px;
    margin-top: 3px;
    float: left;
}
div#hotro ul li a img
{
	 margin-right: 5px;
    float: left;
}

div#quangcao a img
{
	width:90%;
	max-width:300px !important;	
	border:1px solid #DDD;
	margin:5px auto;
	padding:4px;
	box-sizing:border-box;
}
div#quangcao a img:hover
{
	border:1px solid red;	
}
div#main_content
{
	max-width:1350px;
	margin:auto;
}
div#right
{
	width:100%;
	float:right;
}
div.tieude_giua2
{
	text-align:center;
    padding: 20px 0px 10px 0px;
    background: url(images/bak_sanpham.png) center;
}
div.spmoi_home .tieude_giua2 {
    background: url(images/bk_duan.png) center;
}
div.tieude_giua2 div
{
	display:inline-block;
	margin:auto;	
	padding: 50px 20px 0px 20px;
	background:none;
	color:#000;
	text-transform:uppercase;
	font-size:30px;
    text-transform: uppercase;
    font-family: Roboto-Bold;
    position: relative;

}
.wap_content {
    padding-top: 15px;
}
/*div.tieude_giua2 div:after
{
    content: "";
    width: 150px;
    height: 30px;
    background:url(images/bg_tieude.png) repeat-x center;
    position: absolute;
    top: 10px;
    left: -50%;
}
div.tieude_giua2 div:before
{
    content: "";
    width: 150px;
    height: 30px;
    background:url(images/bg_tieude.png) repeat-x center;
    position: absolute;
    top: 10px;
    right: -50%;
}*/
div.tieude_giua
{
	color:#fff;
	padding-left:20px;
	font-size:15px;
	background:#325968;
	height:45px;
	line-height:45px;
	text-transform:uppercase;
}
div.tieude_giua div
{
	display:inline-block;
}
div.tieude_giua a
{
	float:right;
	color:#fff;
	text-decoration:none;
	font-size:18px;
	margin-right:10px;
}
div.wap_item
{
	text-align:center;
	position:relative;
	width: 1200px;
	margin: auto;
}
div.item
{
	width:31.33%;
	margin:1.5% 0.8%;
	text-align:center;
	display:inline-block;
	vertical-align:top;
}
div.chay_i
{
	margin:20px auto;
	max-width:1200px;
}
div.item_i
{
	width:90% !important;
    margin: 5px 5%!important;
    height: 320px;
}
div.spmoi_home .item a img{
	height: 320px;
}
div.item  {
    position: relative;
}
div.item .sp_img
{	
	height: 100%;
	position: relative;
}
div.item .sp_img a
{
	display:block;
	line-height:0;
}
div.item:hover .infor_sp {
    display: block;
}
div.item .infor_sp {
    position: absolute;
    width: 100%;
    padding: 160px 20px 10px 20px;
    bottom: 87px;
    left: 0px;
    background: #000000a1;
    height: 308px;
    text-align: left;
    line-height: 1.5;
    display: none;
    border-radius: 7px;
}
div.item .infor_sp h3 {
    font-size: 15px;
    position: relative;
    font-family: Roboto-bold;
}
div.item .infor_sp h3:after {
    content: "";
    width: 100px;
    height: 2px;
    background: #fcfcfc;
    position: absolute;
    top: -10px;
    left: 0px;
}
div.item .infor_sp h3 i  {
    color: #fff;
}

div.item .infor_sp i {
    color: #4483e9;
    font-size: 16px;
    padding-right: 10px;
}
div.item .infor_sp {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}
div.item .infor_sp ul {
    list-style-type: none;
    padding-bottom: 20px;
    font-family: Roboto-bold;
}
div.item a img
{
	width:100%;
	height:100%;
    position: relative;
    border-radius: 7px;
}
div.item_spmoi .sp_name
{
    text-align: center;
    position: absolute;
    bottom: 0px;    
    width: 100%;
    background-color: #325968;
        background: -moz-linear-gradient(bottom, #325968 30%, #330000 70%);
        background: -o-linear-gradient(bottom, #325968 30%, #330000 70%);
        background: -ms-linear-gradient(bottom, #325968 30%, #330000 70%);
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0.3, #325968f2),color-stop(0.7, #2196f31f));
        
}
div.item .mota_sp
{
    width: 100%;
    font-family: Roboto-bold;
}
div.item .mota_sp .diadiem
{
    text-align: left;
        color: #4d4b4b;
}
div.item .mota_sp .sp_name {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 45px;
}
div.item .mota_sp .sp_name  a {
    color: #000;
    text-decoration: none;
}
div.item .mota_sp .diadiem i
{
    margin-right: 5px;
}
div.item .mota_sp .gia
{
    text-align: left;
    color: #4483e9;
    font-weight: 600;
}
div.item_spmoi .sp_name a
{
	text-decoration:none;
	color:#fff;
	font-size:17px;
	display:block;
	padding: 10px ;
    font-family: Roboto-bold;
}
div.item .sp_name a:hover
{
	transition:0.4s;
	color:red;
}
div.item .sp_gia
{
	display:none;
}
div.item .sp_gia span.giacu
{
	color:#666666;
	text-decoration:line-through;
	float:left;
}
div.item .sp_gia span.giamoi
{
	color:#666666;
	color:red;
	float:right;
}
div.item .sp_gia span.motgia
{
	display:block;
	float:none;
}
.view-pdf
{
    width: 100%;
    height: 1450px;
}
/* --------------------- Phan trang ------------------*/
div#doitac
{
	box-sizing:border-box;
	max-width:1200px;
	margin:auto;
}
div#doitac a img
{
	height:100px;
	margin:0 5px;
	border:1px solid #DDD;
}
/*----------------------------------------------------*/
div.wap_pro
{
	margin:15px auto;
	clear:both;
}
.conten-produt-info
{
    width: 100%;
    padding: 0px 0px;
}
.products-info
{
    width: 100%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.products-info ul
{
    list-style: none;
    border: 1px solid #ccc;
}
.products-info ul li
{
    float: left;
    padding: 0px 10px;
    border-right: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
}
.products-info ul li:hover
{
    background: #e03637;
    color: #fff;
    transition: 0.5s;
    
}
.products-info li i
{
    font-size:17px;
}
.products-info ul li.ngaydang
{
    float: right;
    border-right:none;
    color:#ccc;
    font-style: italic;
}
.gia-product
{
    font-size: 20px;
    font-family: Roboto-bold;
    color: red;
}
.gia-product span
{
    color:#000;
}
.zoom_slick
{
	width:35%;
	float:left;	
	text-align:center;
}
.zoom_slick .slick2
{
	border:1px solid #DDD;
}

.zoom_slick .slick
{
	margin-top:5px;
}

.zoom_slick .slick img
{
	width:95%;
	margin:auto;
	border:1px solid #DDD;
	box-sizing:border-box;
	cursor:pointer;
}
.zoom_slick .slick img:hover
{
	border:1px solid #F60;
	opacity:0.5;
	transition:1s;
}

.product_info
{
	float:right;
	list-style:none;
	width:62%;
}
.product_info li
{
	font-size:13px;
	border-bottom:1px solid #EEE;
	padding:6px 0;
}
.product_info li.ten
{
	color:#0033FF;
	font-size:18px;
}
.product_info li.giacu
{
	font-size:15px;
	text-decoration:line-through;
}
.product_info li.gia
{
	color:red;
	font-size:16px;
}
.product_info li b
{
	font-weight:normal;
	font-size:14px;
}
.xemgiohang
{
	color: #E80019;
    display: block;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
    transition: 0.4s;
    margin: auto;
    margin-top: 7px;
}
.product_info li .dathang
{
	background: #e93b35;
    color: #fff;
    display: block;
    max-width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    transition: 0.4s;
}
.product_info li .dathang i
{
	margin-right:10px;
	font-size:25px;
	margin-top:3px;
}
.product_info li .dathang:hover
{
	transition:0.4s;
	background:#E00;
}
span.size {
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #DDD;
    border-radius: 3px;
    margin-right: 5px;
    cursor: pointer;
}
span.mausac {
    display: block;
    float: left;
    border: 1px solid #DDD;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 0;
}
span.active_size,span.size:hover,span.mausac:hover, span.active_mausac {
    border: 1px solid #EE0000;
}
input.soluong
{
	width: 50px;
	border: 1px solid #C7C6C6;
	padding: 2px 0px;
	text-align: center;
	font-size: 15px;
	 margin-right:5px;
}
table#giohang input
{
	   margin:5px 0px;
}
table#giohang input.btn,.click_ajax
{   
 	background: #DC0018;
    color: #ffffff;
    padding: 7px 15px;
    border: none;
    cursor: pointer;
    margin: 5px 1px;
    border-radius: 3px;
}
  
table#tt td
{
	height:30px;
}
table#tt td input.t
{
	width:300px;
	height:20px;
	margin:3px 0px 5px 0px;
	border:1px solid #DDD;
}
table#tt td textarea
{
	width:300px;
}
table#tt span
{
	color:red;
}

.content-form
{
    width: 80%;
    margin: auto;
}
.content-form .input-content
{
    padding: 10px 0px;
}
.content-form label
{
    width: 15%;
    float: left;
    line-height: 30px;
}
.content-form input
{
    height: 30px;
    width: 70%;
    padding: 0px 5px;
}
.content-form textarea
{
    width: 70%;
    height: 70px;
    padding: 5px 5px;
}
.content-form legend
{
    width: 100%;
    padding: 10px 0px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.content-button
{
    text-align: center;
}
.content-form input[type='button']
{
    min-width: 10%; 
    max-width: 200px;
    border: none;
    background: #6dc71c;
    color: #fff;
}
.content-form input[type='reset']
{
    min-width: 10%; 
    max-width: 200px;
    border: none;
    background: #000;
    color:#fff;
}
div.lienhe_home {
    text-align: center;
    padding: 100px;
    font-family: Roboto-bold;
}
div.item-info {    
    font-family: Roboto-bold;
}
div.lienhe_home h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    height: 50px;
}
.wap_containe .dangkynhantin {
    font-family: Roboto-bold;
}
div.lienhe_home a {
    padding: 10px 20px;
    color: #fff;
    background: #4588f2;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    border-radius: 7px; 
}
div.lienhe_home a:hover {
    background: red;
}
div.col-3 {
    width: 65%;
    float: left;
    padding: 20px;
}
div.footer_botton {
    width: 1200px;
    margin: auto;
    padding: 20px;
}
div.footer_botton ul {
    list-style-type: none;
    font-family: Roboto-bold;
}
.wap_containe .dangkynhantin .dangkyhoc_frm input {
    font-family: Roboto-bold;
}
div.footer_botton ul li i{
    padding: 5px;
    color: #325968;
}
div.wap_conten {
    background: #e1e1e1;
}
div.footer_botton .col-3 .tieude_f {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    padding-left: 5px;
    padding-bottom: 7px;
    color: #325968;
}
div#main_content #right{
    width: 69%;
    float: left;
}
div#main_content #left{
    width: 30%;
    float: left;
    padding-left: 15px;
}
div#main_content .wap_item {
    width: 100%;
}
div#main_content .wap_item .item .infor_sp{
    position: absolute;
    width: 100%;
    padding: 50px 20px 10px 20px;
    bottom: 89px;
    left: 0px;
    background: #000000a1;
    height: 238px;   
}
div#main_content .wap_item .item .infor_sp i{
    font-size: 13px;
}
@-webkit-keyframes star {
  0% {
    -webkit-transform: rotate(0) scale(0);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0);
  }
}
@-o-keyframes star {
  0% {
    -o-transform: rotate(0) scale(0);
  }
  50% {
    -o-transform: rotate(180deg) scale(1.5);
  }
  100% {
    -o-transform: rotate(360deg) scale(0);
  }
}
@-moz-keyframes star {
  0% {
    -moz-transform: rotate(0) scale(0);
  }
  50% {
    -moz-transform: rotate(180deg) scale(1.5);
  }
  100% {
    -moz-transform: rotate(360deg) scale(0);
  }
}
.start-animate {
		z-index: 99999999999999999 !important;
		position: absolute;
		animation: star linear 1.75s infinite;
		-moz-animation: star linear 1.75s infinite;
		-webkit-animation: star linear 1.75s infinite;
		-o-animation: star linear 1.75s infinite;
	}
@keyframes star {
  0% {
    transform: rotate(0) scale(0);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(0);
  }
}
@media screen and (max-width: 1024px) {
	div.menu
	{
		height:43px;
	}
	div.menu ul li a
	{
		padding:0px 20px;
	}
    .logo-menu
    {
        display: none;
    }	
}
@media screen and (max-width: 960px) {
	div.header
	{
		display:block!important;
	}
    
	nav#menu{display:none!important;}
	div#main_content
	{
		width:97%;
	}
	div#footer
	{
		width:97%;
	}
	div#slider
	{
		width:100%;
		padding:0;
	}
	div#danhmuc
	{
		display:none;
	}
	div#right
	{
		width:100%
	}
	div#left
	{
		width:100%;
	}
	div.item
	{
		width:30%;
		margin:1.3%
	}
    .danhmuc-bds
    {
        display: none;
    }	
}
@media screen and (max-width: 800px) {

}
@media screen and (max-width: 700px) {

}
@media screen and (max-width: 603px) {
	div.footer_botton {
        width: 100%;
    }
    div.col-3 {
        width: 100%;
    }
    div#main_content #right {
        width: 100%;
    }
    div#main_content #left {
        width: 100%;
    }
    #copy {
        width: 100%;
        padding: 0px;
    }
    .wap_containe .dangkynhantin {
        width: 100%;
    }
    .wap_containe .dangkynhantin .dangky_tin {
        width: 100%;
    }
    .show-bds {
        text-align: center;
    }
    div.item {
        width: 80%;
    }
    div.quangcao{
        display: none;
    }
    div.wap_item {
        width: 100%;
    }
    div.fanpage {
		width: 100%;
		float: none;
		margin: auto;
		text-align: center;
	}
	div#main_footer {
    width: 100%;
    float: none;
	margin-top:10px;
}
	div#header a.logo
	{
		display:none;
	}
	div#header img.logo_mobi
	{
		display:block;
		margin:auto;
		width:100%;
	}
	div.tieude_giua
	{
		padding:7px;
		height:auto;
		line-height:1.5;
	}
	.zoom_slick
	{
		width:85%;
		max-width:400px;
		float:none;
		margin:auto;
	}
	.product_info
	{
		width:100%;
		margin-top:10px;
	}
	.gh_an
	{
		display:none;
	}
    div.tieude_giua2 div:after
    {
        content: "";
        width: 0;
        height: 0;
        background:none;
        position: absolute;
        top: 0;
        left: -0%;
    }
    div.tieude_giua2 div:before
    {
        content: "";
        width: 0;
        height: 0;
        background:none;
        position: absolute;
        top: 0;
        left: -0%;
    }
}
@media screen and (max-width: 460px) {
	div.dangkyhoc_frm {
        width: 100% !important;
    }
    .wap_containe .dangkynhantin .dangkyhoc_frm div {
        width: 100%;
    }
    .wap_containe .dangkynhantin .dangkyhoc_frm input {
        width: 100%;
    }
    .wap_containe .dangkynhantin .dangkyhoc_frm .bnt_dangkyhoc {
        margin-top:  10px;
    }
    .index-item {
        width: 100%;
        margin: 0px;
    }
    div.menu {
        max-width: 100%;
    }
    div.item
	{
		width:46%;
	}
	div.tieude_giua
	{
		font-size:14px;
	}	
	div.frm_lienhe .item_lienhe input[type='text'], div.frm_lienhe .item_lienhe textarea, div.frm_lienhe .item_lienhe input[type='password']
	{
		width:100%;
	}
	div.frm_lienhe .item_lienhe select
	{
		width:100%;
	}
	.map_description
	{
		width:100%;
	}
	.box_news a img
	{
		width:110px;
	}
	div.frm_lienhe .item_lienhe p
	{
		width:100%;
	}
	.othernews ul.phantrang
	{
		margin-left:0px;
	}
	.box_news h3 a {
		font-size:14px;
	}
}
@media screen and (max-width: 360px) {
}
@media screen and (max-width: 320px) {
}

